.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
  %h1.h2 Current Hosts
- if @exist
  %h1 #{@attempted_host} 
- else
  %h1 It does not

- if @newhost
  %h2.h4 host(s) Added! You rock.
- if @total_added
  %h2.h4 #{@total_added} hosts imported. Party time!!

- if not @hosts.empty?
  .table.table-sm
    %table#mytable{ :style => "table-layout: fixed; width: 90%;" }
      - if !@master
        %thead
          %th{ :style => "width: 2%" }
            %input.checkbox#checkall{ :type => "checkbox" }
          %th{ :style => "width: 43%" }
            IP
          %th{ :style => "text-align:center; width: 7%" }
            Hostname
          %th{ :style => "text-align:center; width: 7%" }
            OS
          %th{ :style => "text-align:center; width: 7%" }
            Port
          %th{ :style => "text-align:center; width: 7%" }
            Discovered
          %th{ :style => "text-align:center; width: 10%" }
            Actions
      %tbody
        - if @master
          %input.form-control#search{ :type => "text", :placeholder => "host Name Search" }
          %br
          %br
          %div
            %th{ :style => "width: 20%" }
              Select All hosts &nbsp;&nbsp;&nbsp;&nbsp;
              %input.checkbox#checkall{ :type => "checkbox" }
            %a.btn.btn-danger#deletemultiple{ :href => "/master/hosts/delete" }
              Delete selected
            %br
          %style#search_style
          %span.input-group-btn
          &nbsp;
          - settings.host_types.each do |type|
            %tr
              %td{ :colspan => "3" }
                %b.pointer{ "data-toggle" => "collapse", "data-target" => "#hosts_list_#{type.gsub(' ','_')}" }
                  #{type}
                  %i.fas.fa-list
                -if @hosts.any?{|host| host.type === type}
                  .hosts_list{ :id => "hosts_list_#{type.gsub(' ','_')}", :class =>"collapse in show" }
                    - if @hosts.size > 0
                      .table.table-hover.table-sm
                        %table{ :style => "width: 100%" }
                          - @hosts.each do |host|
                            - if host.type == type
                              -if @master and !host.approved
                                -@class="table-danger"
                              - else
                                -@class=""
                              %tr{ :class => "#{@class}" }
                                %td.searchable{ :"data-index" => "#{host.ip.downcase}", :style => "width: 1%" }
                                  %input.checkbox{ :type=>"checkbox", :name=>"#{host.id}" }
                                %td.searchable{ :style => "width: 70%", :"data-index" => "#{host.ip.downcase}" }
                                  #{host.ip}
                                %td.searchable{ :style => "text-align:center; width: 20%", :"data-index" => "#{host.ip.downcase}" }
                                  #{host.hostname}
                                %td.searchable{ :style => "text-align:center; width: 20%", :"data-index" => "#{host.ip.downcase}" }
                                  #{host.os}
                                %td.searchable{ :style => "text-align:center; width: 20%", :"data-index" => "#{host.ip.downcase}" }
                                  #{host.port}
                                %td.searchable{ :style => "text-align:center; width: 20%", :"data-index" => "#{host.ip.downcase}" }
                                  #{host.discovered}
                                %td.searchable{ :style => "text-align:center; width: 20%", :"data-index" => "#{host.ip.downcase}" }
                                  %a.btn.btn-sm.btn-warning{ :href => "/host_tracker/#{report.id}/hosts/#{host.id}/edit" }
                                    %i.fas.fa-pencil-alt{ :ip => "Edit" }
                                  %a.btn.btn-sm.btn-danger{ :href => "/host_tracker/#{@report.id}/hosts/delete/#{host.id}" }
                                    %i.far.fa-trash-alt{ :ip => "Delete" }
        - else
          %a#deletemultiple.btn.btn-danger{ :href => "/host_tracker/#{@report.id}/hosts/delete/" }
            Delete selected
          %br
          %br
        - @hosts.each do |host|
          %tr{ :class => "#{@class}" }
            %td
              %input.checkbox{ :type => "checkbox", :name => "#{host.id}" }
            %td{ :style => "width:60%; max-width: 0px" }
              #{host.ip}
            %td{ :style => "text-align:center" }
              #{host.hostname}
            %td{ :style => "text-align:center" }
              #{host.os}
            %td{ :style => "text-align:center" }
              #{host.port}
            %td{ :style => "text-align:center" }
              #{host.discovered}
            %td{ :style => "text-align:center"}
              %a.btn.btn-sm.btn-warning{ :href => "/host_tracker/#{@report.id}/hosts/edit/#{host.id}" }
                %i.fas.fa-pencil-alt{ :ip => "Edit" }
              %a.btn.btn-sm.btn-danger{ :href => "/host_tracker/#{@report.id}/hosts/delete/#{host.id}" }
                %i.far.fa-trash-alt{ :ip => "Delete" }
  %a.btn.btn-primary{ :href => "/host_tracker/#{@report.id}/hosts/new" }
    Add Host
- else
  %h2.h5 No hosts Available
  %a.btn.btn-primary{ :href => "/host_tracker/#{@report.id}/hosts/new" }
    Add Host
